body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
}

li {
    display: inline;
}

ul {
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none; 
    margin: 0;
    padding: 0; 
    text-align: right    
}

/* Navigation Bar */

.nav-bar {
    position: relative;
    bottom: 0px;
}

.nav-bar a {
    text-decoration: none; 
    font-size: 13px;
    color: rgb(41, 41, 41);
}

.nav-bar a:visited {
    text-decoration: none; 
}

.nav-bar a:hover {
    text-decoration: underline;
}

.user-photo {
    position: relative;
    width: 32px;
    height: 32px;
    left: 1530px; 
}

.user-photo img {
    border: 1px gray solid;
    width: 100%;
    height: 100%;
    border-radius: 90%;    
}

.user-photo img:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

#gmail {
    position: relative;
    left: -120px;
    top: 25px;
}

#images {
    position: relative;
    left: -110px;
    top: 25px;
}

/* Google Logo */
.google-search {
    position:relative;
    right: 8px;
    bottom: 5px;
}

.logo figure {
    text-align: center;
    margin-top: 160px;
}

/* Search Box */

.search-bar {
    text-align: center;
}

.search-bar input[type=text] {
    background: url("https://michalosman.github.io/google-homepage/images/google-search.png") no-repeat left 10px center, url("https://www.gstatic.com/inputtools/images/tia.png") no-repeat right 15px center;
    height: 43px;
    width: 500px;
    border-radius: 20px;
    border: 1px #d7d6d6 solid;
    margin-left: 10px;
    font-size: 16px;
    padding: 0px 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.search-box button[type="button"] {
    background-color: rgba(242, 242, 242, 0.51);
    border: 0;
    width: 142px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;  
    margin-top: 27px;    
    font-size: 13.5px;
    color: rgb(70, 70, 70);
}

.search-box button[type="button"]:hover {
    border: 1px solid rgba(208, 208, 208, 0.699);
}

.search-box button[type="button"]:focus {
    border: 1px solid rgb(0, 47, 255);
}

.search-bar input[type=text]:focus, 
.search-bar input[type=text]:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
} 

/* Footer */

footer {
    position: relative;
    border: 0.5px solid rgba(175, 175, 175, 0.664);
    height: 42px;
    text-align: center; 
    background-color: rgb(242, 242, 242);
    width:99.9%;
}

.bottom {
    position: relative;
    width: 100%;
    top: 316px;
}

.info li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color:  rgba(99, 99, 99, 0.938);
    top: 13px;
}

.info a {
    text-decoration: none; 
    color:  rgba(99, 99, 99, 0.938);
    font-family: sans-serif;
}

.info a a:visited {
    text-decoration: none; 
    color:  rgba(99, 99, 99, 0.938);
}

.info a:hover {
    color:  rgba(99, 99, 99, 0.938);
    text-decoration: underline;
}


#ad {
    right: 530px;
    bottom: 10px;
}

#business {
    right: 510px;
    bottom: 10px;
} 

#about {
    bottom: 10px;
    right: 490px;
}

#how {
    right: 470px;
    bottom: 10px;
}


#privacy {
    left: 480px;
    bottom: 10px;   
}

#terms {
    left: 500px;  
    bottom: 10px; 
}

#settings {
    left: 520px;
    bottom: 10px;
}

